---
http_interactions:
- request:
    method: post
    uri: https://dns.api.gandi.net/api/v5/zones/zone-uuid/snapshots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - abdce12345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Zone Snapshot Created",
          "uuid": "snapshot-uuid"
        }
  recorded_at: Thu, 30 May 2019 06:22:02 GMT

- request:
    method: get
    uri: https://dns.api.gandi.net/api/v5/zones/zone-uuid/snapshots/snapshot-uuid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - abdce12345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
         "date_created": "2016-12-16T16:51:26Z",
         "uuid": "snapshot-uuid",
         "zone_uuid": "zone-uuid",
         "zone_data": [
          {
           "rrset_type": "A",
           "rrset_ttl": 10800,
           "rrset_name": "www",
           "rrset_values": ["10.0.1.42"]
           }
          ]
        }
  recorded_at: Thu, 30 May 2019 06:22:02 GMT

recorded_with: VCR 4.0.0
