---
http_interactions:
- request:
    method: get
    uri: https://api.gandi.net/v5/email/mailboxes/example.net?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Apikey abdce12345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "domain": "example.net",
            "login": "alice",
            "address": "alice@example.net",
            "id": "066743e5-96e4-4a1d-9195-8b8a700a8a79",
            "mailbox_type": "standard",
            "quota_used": 1200,
            "href": "https://api.test/api/v5/email/example.net/066743e5-96e4-4a1d-9195-8b8a700a8a79"
          }
        ]
  recorded_at: Thu, 30 May 2019 06:22:02 GMT
recorded_with: VCR 4.0.0
