---
http_interactions:
- request:
    method: get
    uri: https://api.gandi.net/v5/domain/domains?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Apikey abdce12345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "status": [
              "clientTransferProhibited"
            ],
            "dates": {
              "created_at": "2019-02-13T11:04:18Z",
              "registry_created_at": "2019-02-13T10:04:18Z",
              "registry_ends_at": "2021-02-13T10:04:18Z",
              "updated_at": "2019-02-25T16:20:49Z"
            },
            "tags": [],
            "fqdn": "example.net",
            "id": "ba1167be-2f76-11e9-9dfb-00163ec4cb00",
            "autorenew": false,
            "tld": "net",
            "owner": "alice_doe",
            "orga_owner": "alice_doe",
            "domain_owner": "Alice Doe",
            "nameserver": {
              "current": "livedns"
            },
            "href": "https://api.test/v5/domain/domains/example.net",
            "fqdn_unicode": "example.net",
            "nameservers": []
          }
        ]
  recorded_at: Thu, 30 May 2019 06:22:02 GMT
recorded_with: VCR 4.0.0
