---
http_interactions:
- request:
    method: get
    uri: https://api.gandi.net/v5/domain/domains?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Apikey abdce12345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"status":[],"dates":{"created_at":"2011-02-21T10:39:00Z","registry_created_at":"2003-03-12T12:02:11Z","registry_ends_at":"2021-03-12T12:02:11Z","updated_at":"2020-03-25T17:06:34Z"},"tags":[],"fqdn":"example.com","id":"domain-uuid","autorenew":false,"tld":"com","owner":"Mr. Example","orga_owner":"Example Org","domain_owner":"Owner","nameserver":{"current":"livedns"},"href":"https://api.gandi.net/v5/domain/domains/example.com","fqdn_unicode":"example.com"}]'
  recorded_at: Mon, 17 Aug 2020 16:02:51 GMT

- request:
    method: get
    uri: https://api.gandi.net/v5/domain/check?currency=GBP&name=example.com&period=1&processes%5B%5D=renew
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Apikey abcde12345
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"currency":"GBP","products":[{"name":"example.com","taxes":[{"rate":20,"name":"vat","type":"service"}],"process":"renew","prices":[{"min_duration":1,"discount":false,"price_after_taxes":8.87,"max_duration":9,"price_before_taxes":7.39,"duration_unit":"y"}],"status":"unavailable"}],"grid":"A","taxes":[{"rate":20,"name":"vat","type":"service"}]}'
  recorded_at: Mon, 17 Aug 2020 16:53:54 GMT

recorded_with: VCR 4.0.0
